body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #f7f7f7;
}

a {
  color: #00B7FF;
}
table{
	border-collapse: collapse;
	font-weight:normal;
}
thead td{font-size: 1.1em;}
td{
	/*border: 1px solid #666;*/
	padding: 1em 1.5em;
	font-size: 1em;
	text-align: center;
}
table span{
	color: #aa6ce3;
	cursor: pointer;
}
input{line-height:1.95em;padding-left: 0.5em;}
::selection {
    background: #68dff0;
    color: #fff;
}
input[type="submit"]:focus,button:focus{text-decoration: none;outline: none;}
input[type="text"]{
	border:1px solid #ccc;
	color: #555;
	background-color: #f7f7f7;
	border-radius: 5px;
	width: 16em;
}
input[type="submit"],button{
	border-radius: 5px;
	padding: 0 2em;
	box-shadow: 0 0 0;
	user-select: none;
    background-image: none;
    border:1px solid transparent;
}
input[type="submit"],#confirm{
	color: #fff;
    background-color: #68dff0;
    border-color:#48bcb4;
}
input[type="submit"]:hover,#confirm:hover{
	background: #48bcb4;
}
.mask,.mask2{
	background: rgba(0,0,0,.5);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}
#logout,.uname{
	position: absolute;
	right: 2em;
	font-weight: normal;
	font-size: 0.45em;
	top: 1.2em;
	display: inline-block;
	cursor: pointer;
    border-radius: 5px;
    padding: 0.35em 0.8em;
    color: #888;
    background: rgba(221,221,221,.7);
}
#logout:hover{
	background: #68dff0;
	color: #fff;
}
.uname{
	right: 85px;
	cursor: auto;
	background: transparent;
}
/*animate*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
/*end*/